/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* styles.css */
*{
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
  box-sizing: border-box;
}

:root {
  /* Primary Colors */
  --primary-brown: #8B4513; /* Warm Maple Brown */
  --primary-amber: #DAA520; /* Forest Green */

  /* Accent Colors */
  --accent-green: #2e8b57; /* Golden Amber */

  /* Neutral Colors */
  --neutral-cream: #FAF3E0; /* Off-White */
  --neutral-grey: #2F4F4F; /* Charcoal Grey */
}

/* General Styles */
header {
  display: flex;
  justify-content: center;
  padding: 10px
}

nav {
  display: flex;
  gap: 30px;
}

nav button {
  color: var(--primary-amber);
  background-color: var(--neutral-cream);
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--primary-amber);
  cursor: pointer;
}

nav button:hover {
  color: var(--accent-green);
  border: 2px solid var(--accent-green);
  background-color: var(--primary-amber);
}

#content {
  background-color: var(--primary-amber);
  width: 900px;
  margin: 30px auto 30px auto;
  padding: 30px 50px;
  border-radius: 25px;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 70px;
  margin: 10px auto 30px auto;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  border: 5px solid var(--primary-brown);
  width: 600px;
  background-color: var(--neutral-cream);
  color: var(--primary-brown);
}

.sectionContainer {
  border: 10px solid var(--neutral-cream);
  margin: 40px 0;
  background-color: var(--primary-brown);
  padding: 20px;
  border-radius: 20px;
}

h2 {
  font-size: 40px;
  margin: 10px;
  color: var(--primary-amber);
  padding-left: 5px;
}

h3 {
  font-size: 25px;
  margin: 10px 10px 0 10px;
  color: var(--neutral-cream);
  padding-left: 5px;
}

p {
  font-size: 20px;
  text-align: center;
  color: var(--neutral-cream);
  padding: 10px 30px;
}

li {
  list-style: none;
  font-size: 20px;
  text-align: center;
  padding: 1px;
  color: var(--neutral-cream);
}

/* Header/ Nav */
header {
  background-color: var(--primary-brown);
}

body {
    background-color: var(--neutral-cream);
    height: 100vh;
}

footer {
  background-color:  var(--primary-brown);
  display: flex;
  justify-content: space-between;
}

.footerP {
  width: 33%;
  color: var(--neutral-cream);
  font-size: 15px;
  cursor: pointer;
}

.footerP:hover {
  color: var(--accent-green);
}

